<ion-header [translucent]="true">
  <ion-toolbar>
      <div class="align-logo-center">
        <img src="/assets/Logo.png" class="ion-padding">
      </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <section class="feed">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list *ngIf="publish;else skeleton">
      <ion-card *ngFor="let pub of publish">
        <div class="container-imagem">
          <img src="https://storage.googleapis.com/mentalize-361022.appspot.com/publish/{{pub.imagem}}">
        </div>
        
        <ion-card-header>
            <ion-card-title><ion-label><h1>{{pub.titulo}}</h1></ion-label></ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <h2>{{pub.descricao}}</h2>
          <ion-badge color="medium">{{pub.materia}}</ion-badge>
          <ion-badge color="medium">{{pub.nivelEnsino}}</ion-badge>
        </ion-card-content>

        <div class="actions-btn">
          <div class="clientActions">
            <button class="like"><ion-icon name="heart-outline" class="curtida"></ion-icon></button>
          </div>
          <div class="clientActions">
            <button class="comment"><ion-icon name="chatbubble-outline" class="comentario"></ion-icon></button>
          </div>
          <div class="clientActions">
            <button class="share"><ion-icon name="paper-plane-outline" class="enviar"></ion-icon></button>
          </div>

          <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="menu">
            <ion-fab-button>
              <ion-icon name="construct-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="top">
              <a href="#" target="_blank"> <ion-fab-button><ion-icon name="warning"></ion-icon></ion-fab-button></a>
              <a href="#" target="_blank"> <ion-fab-button><ion-icon name="download-outline"></ion-icon></ion-fab-button></a>
              <a href="https://www.instagram.com/cataldinata/" target="_blank"> <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button></a>
            </ion-fab-list>
          </ion-fab>
        </div>
      </ion-card>
    </ion-list>
  </section>
</ion-content>

<ng-template #skeleton>
  <ion-card>
    <div class="container-imagem"><ion-skeleton-text [animated]="true" style="width: 100%; height: 280px;"></ion-skeleton-text></div>
    <ion-card-header>
      <ion-card-title><ion-skeleton-text [animated]="true" style="width: 60%; height: 30px;"></ion-skeleton-text></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div class="container-imagem"><ion-skeleton-text [animated]="true" style="width: 100%; height: 280px;"></ion-skeleton-text></div>
    <ion-card-header>
      <ion-card-title><ion-skeleton-text [animated]="true" style="width: 60%; height: 30px;"></ion-skeleton-text></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
</ng-template>
