<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>contate-nos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="form">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input clearInput [(ngModel)]="message.nome" name="nome" maxlength="50" ngDefaultControl></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input clearInput [(ngModel)]="message.email" name="email" maxlength="250" ngDefaultControl></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input clearInput [(ngModel)]="message.telefone" name="telefone" ngDefaultControl></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mensagem</ion-label>
      <ion-textarea [(ngModel)]="message.mensagem" name="mensagem" ngDefaultControl></ion-textarea>
    </ion-item>

    <div class="center-button">
      <ion-button [disabled]="disableButton" (click)="addMessage()">Enviar</ion-button>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
     <a href="https://www.instagram.com/mentalize_app_oficial/" target="_blank"> <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button></a>
      <ion-fab-button><ion-icon name="mail-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
