@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.feed{
  margin: 0 auto;
  max-width: 500px;
}

.translucent {
    -webkit-backdrop-filter: blur( 13.5px );
    text-align: justify;
    font-family: 'Poppins';
    backdrop-filter: blur( 13.5px );
    background: rgba( 255, 255, 255, 0.35 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

ion-card {
    margin-bottom: 30px;
    img {
    width: 100%;
    background: rgb(219, 219, 219);
    }


  ion-card-header{
    padding-top: 20px;
    padding-bottom: 6px;
  }

  ion-badge{
    margin-top: 8px;
    margin-right: 12px;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-left: 15px;
    --padding-right: 15px;
  }
}
.actions-btn {
    ion-button {
        border-radius: 50px;
        background: #2f303573 !important;
        width: 90px;
        margin: 0 0 5% 2.5%;
        height: 25px;
        font-size: 10pt;
        outline: none;
    }
}
