.user-name{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.main-header{
  height: 25vh;
  width: 120%;
  background-image: -ms-linear-gradient( 136deg, #e0c3fc 0%, #275fcf, #8dc4fc 100%);
  background-image: -moz-linear-gradient( 136deg, #e0c3fc 0%, #275fcf, #8ec5fc 100%);
  background-image: -webkit-linear-gradient( 45deg, #1e0033, #5160ff);
  background-size: 200% 200%;
  animation: colors 6s linear infinite;
  overflow: hidden;
  box-shadow: 0 1px 10px #f4f5f8;
  border-radius: 0 0 50% 50%;
  margin-left: -4.5vh;
  margin-top: -5px;
  z-index: 1;
  justify-content: center;
  display: inline-block;
  align-items: center;
  div{
    transform: translateY(2vh);
    ion-avatar{
      width: 15vh;
      height: 15vh;
      background: #f4f5f8;
      margin-bottom: 5px;border: 7px solid #3880ff;
      margin-left: -3%;
    }
  }


  /* Background animation */
  @keyframes colors {
    0% {
        background-position: 0% 25%;
    }
    25%{
        background-position: 25% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }
}

ion-row {
  z-index: 1;
  margin-top: -55px;
  ion-col {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    ion-item {
      width: 94%;
      margin: auto;
      border: 1px solid #f4f5f8;
      box-shadow: 1px #222428;
      border-radius: 5px;
      ion-label {
        font-size: 14px;
        font-weight: bold;
        p {
          font-size: 10px;
        }
      }
      ion-icon {
          font-size: 30px;
      }
    }
  }
}

ion-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

ion-list {
  ion-item {
    margin-top: 1vh;
  }
}

ion-list {
  ion-item {
    ion-label {
      text-align: center;
      font-family: 'Poppins';
      font-size: 14px;
      font-weight: bold;
    }
  }
}

ion-list {
  ion-item {
    ion-label {
      p {
        margin-top: 1%;
        font-size: 15px;
        font-weight: normal;
      }
    }
  }
}

.publi-user {
  margin-top: 5%;
  display: flex;
  width: 100%;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
}

.publi-user {
  ion-col {
    margin-top: 10%;
  }
}

.publi-user {
  publi-user.img {
    width: 100%;
  }
}

ion-segment {
  font-family: 'Poppins';
  font-size: 10px;
  font-weight: bold;
  margin-top: 3%;
}

ion-button {
  font-family: 'Poppins';
}

/* Config */

$color-particle: #fff;
$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 200s;

/* mixins */

@function particles($max) {
  $val: 0px 0px $color-particle;
  @for $i from 1 through $max {
    $val: #{$val}, random($spacing)+px random($spacing)+px $color-particle;
  }
  @return $val;
}

@mixin particles($max) {
  box-shadow: particles($max);
  border-radius: 50%;
}

/* Partículas */

.page-bg, .animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-bg {
  background-blend-mode: screen;
  background-size: cover;
  filter: grayscale(100%);
  z-index: -1;
}

.particle, .particle:after {
  background: transparent;
}

.particle:after {
  position: relative;
  content: "";
  top: $spacing;
}

.particle-1 {
  animation: animParticle $time-1 linear infinite;
  @include particles(1000);
  height: 2px;
  width: 2px;
}

.particle-1:after {
  @include particles(900);
  height: 2px;
  width: 2px;
}

.particle-2 {
  animation: animParticle $time-2 linear infinite;
  @include particles(800);
  height: 2px;
  width: 2px;
}

.particle-2:after {
  @include particles(500);
  height: 3px;
  width: 3px;
}

.particle-3:after {
  @include particles(1100);
  height: 3px;
  width: 3px;
  border-radius: 50%;
}

.particle-4 {
  animation: animParticle $time-4 linear infinite;
  @include particles(1200);
  height: 1px;
  width: 1px;
}

.particle-4:after {
  @include particles(700);
  height: 1px;
  width: 1px;
}

@keyframes animParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY($spacing * -1);
  }
}

.page-wrapper {
  text-align: center;
  color: #fff;
  z-index: 9999;
  position: relative;
  top: 0;
  margin-top: -15px;
}

.field {
  font-family: 'Poppins';
  padding: 20px;
  margin-bottom: 15px;
  margin-top: -10px;
  text-align: center;
}

.botoes {
  font-family: 'Poppins';
  display: flex;
  margin-top: -28px;
}

