@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* General */
ion-card {
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 10px;
  color: #2d1f5a;
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.search{
  --background: #fff;
  font-family: 'Poppins', sans-serif;
}

ion-list {
  background: none;
}

.header {
  padding: 0;
  box-shadow: 0 8px 32px 0 rgba(13, 18, 110, 0.301);
  color: rgb(69, 33, 124);
  ion-searchbar {
    position: relative;
    padding: 5% 3%;
    border-radius: 1em;
  }
}

.divider {
  margin: 5px;
  padding: 5px;
  color: rgb(63, 39, 117);
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  text-align: center;
}

.feed{
  margin: 0 auto;
  max-width: 500px;
}

.translucent {
  -webkit-backdrop-filter: blur( 13.5px );
  text-align: justify;
  font-family: 'Poppins';
  backdrop-filter: blur( 13.5px );
  background: rgba( 255, 255, 255, 0.35 );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.feed{
  ion-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    margin-bottom: 30px;
    background: rgb(218, 218, 218);
    img {
      width: 100%;
      background: rgb(219, 219, 219);
    }

    ion-card-header{
      padding-top: 20px;
      padding-bottom: 6px;
    }

    ion-badge{
      margin-top: 8px;
      margin-right: 12px;
      --padding-top: 5px;
      --padding-bottom: 5px;
      --padding-left: 15px;
      --padding-right: 15px;
    }
  }

  .actions-btn {
    ion-button {
      border-radius: 50px;
      background: #2f303573 !important;
      width: 90px;
      margin: 0 0 5% 2.5%;
      height: 25px;
      font-size: 10pt;
      outline: none;
    }
  }

  .comentario{
    width: 100px;
    position: absolute;
    font-size: 34px;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    color:#04085E;
  }

  .curtida{
    font-size: 34px;
    color: #04085E;
  }

  .menu{
    font-size: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    font-family: 'Poppins';
    box-shadow: none;
    --background: rgb(255, 255, 255);
    .searchbar {
      margin: auto;
      width: 50%;
      padding: 3% 1%;
      --border-radius: 1em;
    }
  }

  .web-card-grau {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .web-card-grau ion-card {
    width: 30%;
  }

  .web-card-materia {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .web-card-materia ion-card {
    width: 94%;
  }
}