<ion-content [fullscreen]="true">

  <ion-toolbar color="tertiary"> 
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" align="center"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title class="user-name">[nome do usuário]</ion-title>
  </ion-toolbar>

  <ion-grid class="main-header">
    <div align="center">
      <ion-avatar align="center">
        <img src="/assets/cataldinata.jpg" alt="imagem do usuário">
      </ion-avatar>
    </div>
  </ion-grid>


<ion-row class="ion-padding-horizontal">
  <ion-col size="5">
    <ion-item lines="none" class="ion-text-center">
      <ion-icon name="people-outline" color="primary"></ion-icon>
      <ion-label>
        34
        <p>Seguidores</p>
      </ion-label>
    </ion-item>
  </ion-col>
  <ion-col size="5">
    <ion-item lines="none" class="ion-text-center">
      <ion-icon name="map-outline" color="primary"></ion-icon>
      <ion-label>
        14
        <p>Postagens</p>
      </ion-label>
    </ion-item>
  </ion-col>
</ion-row>

<ion-list lines="full">
  <ion-item>
    <ion-label>
      <ion-text>Nome</ion-text>
      <p><ion-text color="dark">Natã Cataldi</ion-text></p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-text>Biografia<ion-icon name="arrow-dropleft"></ion-icon></ion-text>
      <p><ion-text color="dark">E aew?! ksksks</ion-text></p>
    </ion-label>
  </ion-item>
  
</ion-list>

<ion-item class="post-title" lines="none">
       <ion-icon name="map-outline" slot="start"></ion-icon>
        <p align="center">Postagens</p>
</ion-item>

<div class="publi-user">   
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="/assets/cataldinata.jpg" alt="bilabilu">
        </ion-col>
      <ion-col>
        <img src="/assets/cataldinata.jpg" alt="bilabilu">
        </ion-col>
      <ion-col>
      <img src="/assets/cataldinata.jpg" alt="bilabilu">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="/assets/cataldinata.jpg" alt="bilabilu">
        </ion-col>
      <ion-col>
        <img src="/assets/cataldinata.jpg" alt="bilabilu">
        </ion-col>
      <ion-col>
      <img src="/assets/cataldinata.jpg" alt="bilabilu">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="/assets/cataldinata.jpg" alt="bilabilu">
        </ion-col>
      <ion-col>
        <img src="/assets/cataldinata.jpg" alt="bilabilu">
        </ion-col>
      <ion-col>
      <img src="/assets/cataldinata.jpg" alt="bilabilu">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="/assets/cataldinata.jpg" alt="bilabilu">
        </ion-col>
      <ion-col>
        <img src="/assets/cataldinata.jpg" alt="bilabilu">
        </ion-col>
      <ion-col>
      <img src="/assets/cataldinata.jpg" alt="bilabilu">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="/assets/cataldinata.jpg" alt="bilabilu">
        </ion-col>
      <ion-col>
        <img src="/assets/cataldinata.jpg" alt="bilabilu">
        </ion-col>
      <ion-col>
      <img src="/assets/cataldinata.jpg" alt="bilabilu">
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

</ion-content>

