<ion-menu side="start" menuId="perfil-menu" contentId="main">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Configurações</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item class="ion-activatable ripple-parent" lines="full">
        <ion-icon name="notifications-outline" slot="start"></ion-icon>
        <ion-label>Notificações</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>

      <ion-item class="ion-activatable ripple-parent" lines="full">
        <ion-icon name="star-outline" slot="start"></ion-icon>
        <ion-label>Avalie nosso App</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>

      <ion-item (click)="presentAlertToggleTheme()" class="ion-activatable ripple-parent" lines="full">
        <ion-icon name="color-palette-outline" slot="start"></ion-icon>
        <ion-label>Tema</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>

      <ion-item class="ion-activatable ripple-parent" routerLink="/contate-nos" lines="full">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label>Entre em contato</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>

      <ion-item class="ion-activatable ripple-parent" lines="full">
        <ion-icon name="document-text-outline" slot="start"></ion-icon>
        <ion-label>Termos de uso</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>

      <ion-item class="ion-activatable ripple-parent" lines="full">
        <ion-icon name="options-outline" slot="start"></ion-icon>
        <ion-label>Editar perfil</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>

      <ion-item class="ion-activatable ripple-parent" lines="full" (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Sair</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
