<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="center-title">
      <ion-text color="tertiary"><h2>Publicar</h2></ion-text>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item>
      <!-- Escolher nível de ensino -->
      <ion-select class="ion-padding" interface="popover" placeholder="Selecione o grau" *ngIf="nivelEnsino" [(ngModel)]="publish.nivelEnsino">
        <ion-select-option *ngFor="let nivel of nivelEnsino" [value]="nivel.nivel">{{nivel.nivel}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <!-- Escolher a matéria -->
      <ion-select class="ion-padding" interface="popover" placeholder="Selecione a matéria" *ngIf="materias" [(ngModel)]="publish.materia">
        <ion-select-option *ngFor="let materia of materias" [value]="materia.materia">{{materia.materia}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-card>
    <div class="center-label">
      <label for="upfile">
        <img #imageContainer src="/assets/810x520.png">
      </label>
      <div class="close" *ngIf="publish.file" (click)="clearPreview()"><ion-icon name="close"></ion-icon></div>
    </div>
    <input type="file" id="upfile" name="file" (change)="readURL($event)" #inpFiles accept=".png,.svg,.jpg,.jpeg">
    <ion-card-header>
      <ion-item>
        <ion-label position="floating">Titulo</ion-label>
        <ion-input [(ngModel)]="publish.titulo"></ion-input>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Descrição</ion-label>
        <ion-textarea [(ngModel)]="publish.descricao"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" class="publicar" (click)="sendPublish()" [disabled]="disableButton">Publicar</ion-button>
</ion-content>
